/* Write your CSS here */
.list-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.list-item input:first-of-type {
  /* width: 40px; */
  flex: 0;
}
.list-item input:nth-of-type(2),
p {
  flex: 1;
  /* max-width: 470px; */
  overflow-x: auto;
  word-wrap: break-word;
}
.todoItem-title-input-element {
  /* width: 100%; */
  /* flex: 1; */
  outline: none;
  border: none;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
}
.checked-todo-text {
  text-decoration: line-through;
}

.list-item > div {
  /* width: 200px; */
  flex: 0;
  display: flex;
  align-items: center;
  gap: 14px;
}
.button {
  border: 2px #ff0b37 solid;
  color: #ff0b37;
  padding: 4px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
}
.todoItem-edit-button {
  border: 2px orange solid;
  color: orange;
  padding: 4px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
}
