/* Write your CSS here */
.main-container {
  min-height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  padding-block: 40px;
  /* align-items: center; */
}
.content-container {
  width: 90%;
  max-width: 900px;
  border-radius: 8px;
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple-heading {
  color: #ff8542;
  font-family: 'Roboto';
  /* text-align: center; */
}
.todo-input-container {
  display: flex;
  gap: 8px;
}
.todo-input-element {
  width: 300px;
  height: 28px;
  outline: none;
  padding-left: 8px;
  /* border: none; */
}
.todo-add-button {
  border: 2px green solid;
  color: green;
  padding: 4px;
  cursor: pointer;
  width: 80px;
  height: 28px;
  background-color: white;
  border-radius: 8px;
}
.list-container {
  list-style-type: none;
  padding: 0px;
  width: 90%;
  height: 100%;
  overflow: auto;
}
